.dishes {
  display: flex;
  /* min-height: 100vh; */
  justify-content: center;
  align-items: center;
  padding: 3rem 20px;
  /* background-color: rgba(255, 255, 255, 0.5); */
}
.dishes .container {
  max-width: 1500px;
  min-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dishes .container .headingSection {
  text-align: center;
  margin-bottom: 12px;
}
.dishes .container .headingSection p {
  color: #333;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.75rem;
}
.dishes .container .dishesContainer {
  display: flex;
  flex-wrap: wrap;
}
.dishes .container .dishesContainer .card {
  width: 25%;
  position: relative;
  padding: 20px 12.5px;
  margin-bottom: 12px;
  position: relative;
}
.dishes .container .dishesContainer .card .dishesImageContainer {
  width: 100%;
}
.dishes .container .dishesContainer .card img {
  width: auto;
  height: 370px;
  display: block;
  /* border-radius: 5px; */
}
.dishes .container .dishesContainer .card h2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;
}
.dishes .container .dishesContainer .card button {
  position: absolute;
  top: 40px;
  left: 25px;
  padding: 8px 20px;
  color: #fff;
  background: linear-gradient(186deg, black, #7e7a7a8a);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.dishes .container .dishesContainer .card:hover img {
  transition: 0.3s;
  transform: scale(1.03);
}
@media (max-width: 1520px) {
  .dishes .container {
    min-width: 100%;
  }
}
@media (max-width: 1200px) {
  .dishes .container .dishesContainer .card img {
    height: 325px;
  }
  .dishes .container .dishesContainer .card h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 1000px) {
  .dishes .container .dishesContainer .card {
    width: 50%;
  }
  .dishes .container .dishesContainer .card img {
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
    object-position: center; /* Keeps the crop centered */
    height: 300px;
    width: 100%;
  }
  .dishes .container .dishesContainer .card h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .dishes .container .dishesContainer .card h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 450px) {
  .dishes .container .dishesContainer .card {
    width: 100%;
    padding: 20px 0;
  }
}
