/* .heroSection .container {
  display: flex;
  justify-content: center;
  padding: 5% 20%;
  gap: 5%;
} */
.heroSection img {
  width: 100%;
}
.heroSection .logoContainer {
  height: 100%;
}
.heroSection .dishContainer {
  height: 100%;
  border-radius: 10%;
}
