.menuContainer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 5% 20%;
  z-index: 100;
  height: 100%;
  width: 100%;
  /* height: fit-content; */
  opacity: 0;
  /* transform: translateY(-250px); */
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
  overflow-y: visible;
}
.menuContainer .menuHeader {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuContainer .menuX {
  font-size: 40px;
  cursor: pointer;
}
.menuContainer .menu {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
}
.menuContainer .menu .menuSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menuContainer .card {
  display: flex;
  gap: 2rem;
}
.menuContainer .cardImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 10px;
}
.menuContainer .cardImageContainer img {
  height: 100%;
}
.menuContainer .cardTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.showMenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hideMenu {
  opacity: 0;
  /* transform: translateY(-250px); */
}
