.team {
  display: flex;
  /* min-height: 60vh; */
  justify-content: center;
  align-items: center;
  padding: 3rem 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.team .container {
  max-width: 1500px;
  min-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .container .headingSection {
  text-align: center;
  margin-bottom: 12px;
}
.team .container .headingSection p {
  color: #333;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.team .container .teamContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.team .container .teamContainer .card {
  width: 25%;
  padding: 20px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .container .teamContainer .card img {
  width: 175px;
  margin-bottom: 1rem;
}
.team .container .teamContainer .card h2 {
  font-size: 1.25rem;
}
.team .container .teamContainer .card p {
  font-size: 18px;
  font-weight: 300;
  color: #333;
}
@media (max-width: 1520px) {
  .team .container {
    min-width: 100%;
  }
}
@media (max-width: 1050px) {
  .team .container .teamContainer .card img {
    width: 135px;
  }
}
@media (max-width: 910px) {
  .team .container .teamContainer .card h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 810px) {
  .team .container .teamContainer .card {
    width: 50%;
  }
  .team .container .teamContainer .card img {
    width: 220px;
  }
}
@media (max-width: 550px) {
  .team .container .teamContainer .card {
    width: 100%;
  }
  .team .container .teamContainer .card img {
    width: 150px;
  }
}
